{% extends "base.html" %}
{% block title %}Sleeper Tiers{% endblock %}
{% block content %}
<section>
    <div class="container mt-5 text-center px-5">
        <h1 class="header mb-3 text-info"> About</h1>
        <h4 class="header mb-3"> This was a fun little project as I was learning more about Flask and Bootstrap/CSS
            to deploy a web app with Python as the backend.</h4>
        <h4 class="mt-5">I'm used to compiling tier sheets or "ranking sheets" for my fantasy football drafts and manually following
        along and marking players off as they are picked. This gives me a tool that automates this thanks to Sleeper's free API. </h4>

        <h5 class="pt-5"> Find out more about Sleeper API <a href="https://sleeper-api-client.readthedocs.io/en/latest/index.html">here.</a></h5>
    </div>
</section>
{% endblock %}