{% extends "base.html" %}
{% block title %}Sleeper Tiers{% endblock %}
{% block content %}
<div class="mt-5">
    <div class="p-5 text-center bg-body-tertiary">
        <div class="container py-4">
            <h1 class="text-body-emphasis">Draft Complete! How did you like it?</h1>
            <p class="col-lg-8 mx-auto lead">
                If you'd like to see this tool developed further feel free to reach out via the Contact page and/or
                buying
                me a coffee below. Any donations will help cover hosting costs and time for further development. </p>
            <div class ="container pt-3 pb-0">
                <script type="text/javascript" src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js"
                        data-name="bmc-button" data-slug="jfbrown" data-color="#6930c3" data-emoji=""
                        data-font="Poppins"
                        data-text="Buy me a coffee" data-outline-color="#fff" data-font-color="#ffffff"
                        data-coffee-color="#71463d"></script>
            </div>
        </div>
    </div>
</div>
<section id="title" class="section-background">
    <div class="container pt-3">
        <div class="row row-cols-1 row-cols-sm-2 text-center">
            <div class="card rounded-3 p-0 m-2 ">
                <div class="card-header py-1">
                    <h5 class="card-title">Draft Details</h5>
                </div>
                <div class="card-body">
                    <!--                <p class="mb-1"><strong>ID:</strong> {{ draft_id }}</p>-->
                    <p class="mb-1"><strong>Status:</strong> <a class="text-info">{{ draft_status }}</a></p>
                    <!--                <p class="mb-1"><strong>Last Pick:</strong> </p>-->
                    <p class="mb-1 text-info">{{ draft_picks[0]['metadata']['first_name'] }} {{
                        draft_picks[0]['metadata']['last_name'] }} ( #{{ draft_picks[0]['pick_no'] }} )</p>
                    <p class="mb-1"><strong>Draft Position:</strong> {{ draft_position }} / {{
                        draft_info['settings']['teams'] }}</p>
                    <button class="btn btn-primary mb-2 px-2 py-0" type="button" data-bs-toggle="offcanvas"
                            data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling">See Picks
                    </button>
                </div>
            </div>
            {% if my_team == "" %}
            {% else %}
            <div class="card rounded-3 p-0 m-2" style="width: 21rem">
                <div class="card-header py-1">
                    <h5 class="card-title">My Team</h5>
                </div>
                <div class="card-body-my-picks">
                    <div class="row pt-2">
                        <div class="col-2" style="display: flex; justify-content: center; align-items: center;">
                            <h6 style="margin: 0;">QB</h6>
                        </div>
                        <div class="stars col-4">
                            <h6>
                                {% for player in my_qbs %}
                                {% if player['tier'] == 3 %}
                                <i class="fa-solid fa-star pt" style="color: #9f7a34;; font-size: 12px"></i>
                                {% endif %}
                                {% if player['tier'] == 2 %}
                                <i class="fa-solid fa-star pt" style="color: silver; font-size: 12px;"></i>
                                {% endif %}
                                {% if player['tier'] == 1 %}
                                <i class="fa-solid fa-star pt" style="color: gold; font-size: 12px"></i>
                                {% endif %}
                                {% if player['tier'] > 3 %}
                                <i class="fa-regular fa-star pt" style="font-size: 12px"></i>
                                {% endif %}
                                {% endfor %}
                            </h6>
                        </div>
                        <div class="col-2" style="display: flex; justify-content: center; align-items: center;">
                            <h6 style="margin: 0;">TE</h6>
                        </div>
                        <div class="stars col-4">
                            <h6>
                                {% for player in my_tes %}
                                {% if player['tier'] == 3 %}
                                <i class="fa-solid fa-star pt" style="color: #9f7a34;; font-size: 12px"></i>
                                {% endif %}
                                {% if player['tier'] == 2 %}
                                <i class="fa-solid fa-star pt" style="color: silver; font-size: 12px;"></i>
                                {% endif %}
                                {% if player['tier'] == 1 %}
                                <i class="fa-solid fa-star pt" style="color: gold; font-size: 12px"></i>
                                {% endif %}
                                {% if player['tier'] > 3 %}
                                <i class="fa-regular fa-star pt" style="font-size: 12px"></i>
                                {% endif %}
                                {% endfor %}
                            </h6>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2" style="display: flex; justify-content: center; align-items: center;">
                            <h6 style="margin: 0;">RB</h6>
                        </div>
                        <div class="stars col-4">
                            <h6>
                                {% for player in my_rbs %}
                                {% if player['tier'] == 3 %}
                                <i class="fa-solid fa-star pt" style="color: #9f7a34;; font-size: 12px"></i>
                                {% endif %}
                                {% if player['tier'] == 2 %}
                                <i class="fa-solid fa-star pt" style="color: silver; font-size: 12px;"></i>
                                {% endif %}
                                {% if player['tier'] == 1 %}
                                <i class="fa-solid fa-star pt" style="color: gold; font-size: 12px"></i>
                                {% endif %}
                                {% if player['tier'] > 3 %}
                                <i class="fa-regular fa-star pt" style="font-size: 12px"></i>
                                {% endif %}
                                {% endfor %}
                            </h6>
                        </div>
                        <div class="col-2" style="display: flex; justify-content: center; align-items: center;">
                            <h6 style="margin: 0;">DEF</h6>
                        </div>
                        <div class="stars col-4">
                            <h6>
                                {% for player in my_defs %}
                                {% if player['tier'] == 3 %}
                                <i class="fa-solid fa-star pt" style="color: #9f7a34;; font-size: 12px"></i>
                                {% endif %}
                                {% if player['tier'] == 2 %}
                                <i class="fa-solid fa-star pt" style="color: silver; font-size: 12px;"></i>
                                {% endif %}
                                {% if player['tier'] == 1 %}
                                <i class="fa-solid fa-star pt" style="color: gold; font-size: 12px"></i>
                                {% endif %}
                                {% if player['tier'] > 3 %}
                                <i class="fa-regular fa-star pt" style="font-size: 12px"></i>
                                {% endif %}
                                {% endfor %}
                            </h6>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2" style="display: flex; justify-content: center; align-items: center;">
                            <h6 style="margin: 0;">WR</h6>
                        </div>
                        <div class="stars col-4">
                            <h6>
                                {% for player in my_wrs %}
                                {% if player['tier'] == 3 %}
                                <i class="fa-solid fa-star pt" style="color: #9f7a34;; font-size: 12px"></i>
                                {% endif %}
                                {% if player['tier'] == 2 %}
                                <i class="fa-solid fa-star pt" style="color: silver; font-size: 12px;"></i>
                                {% endif %}
                                {% if player['tier'] == 1 %}
                                <i class="fa-solid fa-star pt" style="color: gold; font-size: 12px"></i>
                                {% endif %}
                                {% if player['tier'] > 3 %}
                                <i class="fa-regular fa-star pt" style="font-size: 12px"></i>
                                {% endif %}
                                {% endfor %}
                            </h6>
                        </div>
                        <div class="col-2" style="display: flex; justify-content: center; align-items: center;">
                            <h6 style="margin: 0;">K</h6>
                        </div>
                        <div class="stars col-4">
                            <h6>
                                {% for player in my_ks %}
                                {% if player['tier'] == 3 %}
                                <i class="fa-solid fa-star pt" style="color: #9f7a34;; font-size: 12px"></i>
                                {% endif %}
                                {% if player['tier'] == 2 %}
                                <i class="fa-solid fa-star pt" style="color: silver; font-size: 12px;"></i>
                                {% endif %}
                                {% if player['tier'] == 1 %}
                                <i class="fa-solid fa-star pt" style="color: gold; font-size: 12px"></i>
                                {% endif %}
                                {% if player['tier'] > 3 %}
                                <i class="fa-regular fa-star pt" style="font-size: 12px"></i>
                                {% endif %}
                                {% endfor %}
                            </h6>
                        </div>
                    </div>

                    <!--                    <button class="btn btn-primary mb-2 mt-2" type="button" data-bs-toggle="offcanvas"-->
                    <!--                            data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling">See Picks-->
                    <!--                    </button>-->
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="container mx-5">
        <h3 class="board_header mt-3">Draft Board</h3>
        <div class="row">
            <div class="container-card rounded-3 p-2 m-2">
                <div class="position-header">
                    <div class="row">
                        <div class="col-4">
                            <h3 class="text-info">QB</h3>
                        </div>
                        <div class="col-1 pt-1">
                            {% if qb1s == 0 %}
                            <i class="fa-solid fa-star pt" style="color: gold; opacity: 10%"></i>
                            {% else %}
                            <i class="fa-solid fa-star pt" style="color: gold;"></i>
                            {% endif %}
                        </div>
                        <div class="col-1">
                            {% if qb1s == 0 %}
                            <h5 class="text pt-1" style="opacity: 10%">{{ qb1s }}</h5>
                            {% else %}
                            <h5 class="text pt-1">{{ qb1s }}</h5>
                            {% endif %}

                        </div>
                        <div class="col-1 pt-1">
                            {% if qb2s == 0 %}
                            <i class="fa-solid fa-star pt" style="color: silver; opacity: 10%;"></i>
                            {% else %}
                            <i class="fa-solid fa-star pt" style="color: silver;"></i>
                            {% endif %}
                        </div>
                        <div class="col-1">
                            {% if qb2s == 0 %}
                            <h5 class="text pt-1" style="opacity: 10%;">{{ qb2s }}</h5>
                            {% else %}
                            <h5 class="text pt-1">{{ qb2s }}</h5>
                            {% endif %}

                        </div>
                        <div class="col-1 pt-1">
                            {% if qb3s == 0 %}
                            <i class="fa-solid fa-star pt" style="color: #9f7a34; opacity: 10%;"></i>
                            {% else %}
                            <i class="fa-solid fa-star pt" style="color: #9f7a34;"></i>
                            {% endif %}
                        </div>
                        <div class="col-1">
                            {% if qb3s == 0 %}
                            <h5 class="text pt-1" style="opacity: 10%;">{{ qb3s }}</h5>
                            {% else %}
                            <h5 class="text pt-1">{{ qb3s }}</h5>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="table-primary">
                    <table class="table-sm">
                        <thead>
                        <tr>
                            <th scope="col" style="width: 2rem">Tier</th>
                            <th scope="col" style="width: 9rem">Name</th>
                            <th scope="col" style="width: 4rem">Proj</th>
                        </tr>
                        </thead>
                        <tbody class="table-group-divider">
                        {% for key, values in top_qbs.items() %}
                        <tr>
                            <td>{{ values['tier'] }}</td>
                            <td>{{ values['full_name'] }}</td>
                            <td>{{ values['stats']['pts_half_ppr'] }}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="container-card rounded-3 p-2 m-2">
                <div class="position-header">
                    <div class="row">
                        <div class="col-4">
                            <h3 class="text-info">RB</h3>
                        </div>
                        <div class="col-1 pt-1">
                            {% if rb1s == 0 %}
                            <i class="fa-solid fa-star pt" style="color: gold; opacity: 10%"></i>
                            {% else %}
                            <i class="fa-solid fa-star pt" style="color: gold;"></i>
                            {% endif %}
                        </div>
                        <div class="col-1">
                            {% if rb1s == 0 %}
                            <h5 class="text pt-1" style="opacity: 10%">{{ rb1s }}</h5>
                            {% else %}
                            <h5 class="text pt-1">{{ rb1s }}</h5>
                            {% endif %}

                        </div>
                        <div class="col-1 pt-1">
                            {% if rb2s == 0 %}
                            <i class="fa-solid fa-star pt" style="color: silver; opacity: 10%;"></i>
                            {% else %}
                            <i class="fa-solid fa-star pt" style="color: silver;"></i>
                            {% endif %}
                        </div>
                        <div class="col-1">
                            {% if rb2s == 0 %}
                            <h5 class="text pt-1" style="opacity: 10%;">{{ rb2s }}</h5>
                            {% else %}
                            <h5 class="text pt-1">{{ rb2s }}</h5>
                            {% endif %}

                        </div>
                        <div class="col-1 pt-1">
                            {% if rb3s == 0 %}
                            <i class="fa-solid fa-star pt" style="color: #9f7a34; opacity: 10%;"></i>
                            {% else %}
                            <i class="fa-solid fa-star pt" style="color: #9f7a34;"></i>
                            {% endif %}
                        </div>
                        <div class="col-1">
                            {% if rb3s == 0 %}
                            <h5 class="text pt-1" style="opacity: 10%;">{{ rb3s }}</h5>
                            {% else %}
                            <h5 class="text pt-1">{{ rb3s }}</h5>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="table-primary">
                    <table class="table-sm">
                        <thead>
                        <!--                        <h3 class="text-info">RB </h3>-->
                        <tr>
                            <th scope="col" style="width: 2rem">Tier</th>
                            <th scope="col" style="width: 9rem">Name</th>
                            <th scope="col" style="width: 4rem">Proj</th>
                        </tr>
                        </thead>
                        <tbody class="table-group-divider">
                        {% for key, values in top_rbs.items() %}
                        <tr>
                            <td>{{ values['tier'] }}</td>
                            <td>{{ values['full_name'] }}</td>
                            <td>{{ values['stats']['pts_half_ppr'] }}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="container-card rounded-3 p-2 m-2">
                <div class="position-header">
                    <div class="row">
                        <div class="col-4">
                            <h3 class="text-info">WR</h3>
                        </div>
                        <div class="col-1 pt-1">
                            {% if wr1s == 0 %}
                            <i class="fa-solid fa-star pt" style="color: gold; opacity: 10%"></i>
                            {% else %}
                            <i class="fa-solid fa-star pt" style="color: gold;"></i>
                            {% endif %}
                        </div>
                        <div class="col-1">
                            {% if wr1s == 0 %}
                            <h5 class="text pt-1" style="opacity: 10%">{{ wr1s }}</h5>
                            {% else %}
                            <h5 class="text pt-1">{{ wr1s }}</h5>
                            {% endif %}

                        </div>
                        <div class="col-1 pt-1">
                            {% if wr2s == 0 %}
                            <i class="fa-solid fa-star pt" style="color: silver; opacity: 10%;"></i>
                            {% else %}
                            <i class="fa-solid fa-star pt" style="color: silver;"></i>
                            {% endif %}
                        </div>
                        <div class="col-1">
                            {% if wr2s == 0 %}
                            <h5 class="text pt-1" style="opacity: 10%;">{{ wr2s }}</h5>
                            {% else %}
                            <h5 class="text pt-1">{{ wr2s }}</h5>
                            {% endif %}

                        </div>
                        <div class="col-1 pt-1">
                            {% if wr3s == 0 %}
                            <i class="fa-solid fa-star pt" style="color: #9f7a34; opacity: 10%;"></i>
                            {% else %}
                            <i class="fa-solid fa-star pt" style="color: #9f7a34;"></i>
                            {% endif %}
                        </div>
                        <div class="col-1">
                            {% if wr3s == 0 %}
                            <h5 class="text pt-1" style="opacity: 10%;">{{ wr3s }}</h5>
                            {% else %}
                            <h5 class="text pt-1">{{ wr3s }}</h5>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="table-primary">
                    <table class="table-sm">
                        <thead>
                        <!--                        <h3 class="text-info">WR</h3>-->
                        <tr>
                            <th scope="col" style="width: 2rem">Tier</th>
                            <th scope="col" style="width: 9rem">Name</th>
                            <th scope="col" style="width: 4rem">Proj</th>
                        </tr>
                        </thead>
                        <tbody class="table-group-divider">
                        {% for key, values in top_wrs.items() %}
                        <tr>
                            <td>{{ values['tier'] }}</td>
                            <td>{{ values['full_name'] }}</td>
                            <td>{{ values['stats']['pts_half_ppr'] }}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="container-card rounded-3 p-2 m-2">
                <div class="position-header">
                    <div class="row">
                        <div class="col-4">
                            <h3 class="text-info">TE</h3>
                        </div>
                        <div class="col-1 pt-1">
                            {% if te1s == 0 %}
                            <i class="fa-solid fa-star pt" style="color: gold; opacity: 10%"></i>
                            {% else %}
                            <i class="fa-solid fa-star pt" style="color: gold;"></i>
                            {% endif %}
                        </div>
                        <div class="col-1">
                            {% if te1s == 0 %}
                            <h5 class="text pt-1" style="opacity: 10%">{{ te1s }}</h5>
                            {% else %}
                            <h5 class="text pt-1">{{ te1s }}</h5>
                            {% endif %}

                        </div>
                        <div class="col-1 pt-1">
                            {% if te2s == 0 %}
                            <i class="fa-solid fa-star pt" style="color: silver; opacity: 10%;"></i>
                            {% else %}
                            <i class="fa-solid fa-star pt" style="color: silver;"></i>
                            {% endif %}
                        </div>
                        <div class="col-1">
                            {% if te2s == 0 %}
                            <h5 class="text pt-1" style="opacity: 10%;">{{ te2s }}</h5>
                            {% else %}
                            <h5 class="text pt-1">{{ te2s }}</h5>
                            {% endif %}

                        </div>
                        <div class="col-1 pt-1">
                            {% if te3s == 0 %}
                            <i class="fa-solid fa-star pt" style="color: #9f7a34; opacity: 10%;"></i>
                            {% else %}
                            <i class="fa-solid fa-star pt" style="color: #9f7a34;"></i>
                            {% endif %}
                        </div>
                        <div class="col-1">
                            {% if te3s == 0 %}
                            <h5 class="text pt-1" style="opacity: 10%;">{{ te3s }}</h5>
                            {% else %}
                            <h5 class="text pt-1">{{ te3s }}</h5>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="table-primary">
                    <table class="table-sm">
                        <thead>
                        <!--                        <h3 class="text-info">TE</h3>-->
                        <tr>
                            <th scope="col" style="width: 2rem">Tier</th>
                            <th scope="col" style="width: 9rem">Name</th>
                            <th scope="col" style="width: 4rem">Proj</th>
                        </tr>
                        </thead>
                        <tbody class="table-group-divider">
                        {% for key, values in top_tes.items() %}
                        <tr>
                            <td>{{ values['tier'] }}</td>
                            <td>{{ values['full_name'] }}</td>
                            <td>{{ values['stats']['pts_half_ppr'] }}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="container-card rounded-3 p-2 m-2">
                <div class="position-header">
                    <div class="row">
                        <div class="col-4">
                            <h3 class="text-info">DEF</h3>
                        </div>
                        <div class="col-1 pt-1">
                            {% if def1s == 0 %}
                            <i class="fa-solid fa-star pt" style="color: gold; opacity: 10%"></i>
                            {% else %}
                            <i class="fa-solid fa-star pt" style="color: gold;"></i>
                            {% endif %}
                        </div>
                        <div class="col-1">
                            {% if def1s == 0 %}
                            <h5 class="text pt-1" style="opacity: 10%">{{ def1s }}</h5>
                            {% else %}
                            <h5 class="text pt-1">{{ def1s }}</h5>
                            {% endif %}

                        </div>
                        <div class="col-1 pt-1">
                            {% if def2s == 0 %}
                            <i class="fa-solid fa-star pt" style="color: silver; opacity: 10%;"></i>
                            {% else %}
                            <i class="fa-solid fa-star pt" style="color: silver;"></i>
                            {% endif %}
                        </div>
                        <div class="col-1">
                            {% if def2s == 0 %}
                            <h5 class="text pt-1" style="opacity: 10%;">{{ def2s }}</h5>
                            {% else %}
                            <h5 class="text pt-1">{{ def2s }}</h5>
                            {% endif %}

                        </div>
                        <div class="col-1 pt-1">
                            {% if def3s == 0 %}
                            <i class="fa-solid fa-star pt" style="color: #9f7a34; opacity: 10%;"></i>
                            {% else %}
                            <i class="fa-solid fa-star pt" style="color: #9f7a34;"></i>
                            {% endif %}
                        </div>
                        <div class="col-1">
                            {% if def3s == 0 %}
                            <h5 class="text pt-1" style="opacity: 10%;">{{ def3s }}</h5>
                            {% else %}
                            <h5 class="text pt-1">{{ def3s }}</h5>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="table-primary">
                    <table class="table-sm">
                        <thead>
                        <!--                        <h3 class="text-info">DEF</h3>-->
                        <tr>
                            <th scope="col" style="width: 2rem">Tier</th>
                            <th scope="col" style="width: 9rem">Name</th>
                            <th scope="col" style="width: 4rem">Proj</th>
                        </tr>
                        </thead>
                        <tbody class="table-group-divider">
                        {% for key, values in top_defs.items() %}
                        <tr>
                            <td>{{ values['tier'] }}</td>
                            <td>{{ values['first_name'] }} {{ values['last_name'] }}</td>
                            <td>{{ values['stats']['pts_half_ppr'] }}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="container-card rounded-3 p-2 m-2">
                <div class="position-header">
                    <div class="row">
                        <div class="col-4">
                            <h3 class="text-info">K</h3>
                        </div>
                        <div class="col-1 pt-1">
                            {% if k1s == 0 %}
                            <i class="fa-solid fa-star pt" style="color: gold; opacity: 10%"></i>
                            {% else %}
                            <i class="fa-solid fa-star pt" style="color: gold;"></i>
                            {% endif %}
                        </div>
                        <div class="col-1">
                            {% if k1s == 0 %}
                            <h5 class="text pt-1" style="opacity: 10%">{{ k1s }}</h5>
                            {% else %}
                            <h5 class="text pt-1">{{ k1s }}</h5>
                            {% endif %}

                        </div>
                        <div class="col-1 pt-1">
                            {% if k2s == 0 %}
                            <i class="fa-solid fa-star pt" style="color: silver; opacity: 10%;"></i>
                            {% else %}
                            <i class="fa-solid fa-star pt" style="color: silver;"></i>
                            {% endif %}
                        </div>
                        <div class="col-1">
                            {% if k2s == 0 %}
                            <h5 class="text pt-1" style="opacity: 10%;">{{ k2s }}</h5>
                            {% else %}
                            <h5 class="text pt-1">{{ k2s }}</h5>
                            {% endif %}

                        </div>
                        <div class="col-1 pt-1">
                            {% if k3s == 0 %}
                            <i class="fa-solid fa-star pt" style="color: #9f7a34; opacity: 10%;"></i>
                            {% else %}
                            <i class="fa-solid fa-star pt" style="color: #9f7a34;"></i>
                            {% endif %}
                        </div>
                        <div class="col-1">
                            {% if k3s == 0 %}
                            <h5 class="text pt-1" style="opacity: 10%;">{{ k3s }}</h5>
                            {% else %}
                            <h5 class="text pt-1">{{ k3s }}</h5>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="table-primary">
                    <table class="table-sm">
                        <thead>
                        <tr>
                            <th scope="col" style="width: 2rem">Tier</th>
                            <th scope="col" style="width: 9rem">Name</th>
                            <th scope="col" style="width: 4rem">Proj</th>
                        </tr>
                        </thead>
                        <tbody class="table-group-divider">
                        {% for key, values in top_ks.items() %}
                        <tr>
                            <td>{{ values['tier'] }}</td>
                            <td>{{ values['full_name'] }}</td>
                            <td>{{ values['stats']['pts_half_ppr'] }}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<!--    off canvas-->
<div class="offcanvas offcanvas-start offcanvas-size-sm" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1"
     id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel" style="width: 300px">
    <div class="offcanvas-header" data-bs-theme="dark" style="width: 280px">
        <h2>Draft Picks</h2>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body" style="max-width: 280px; overflow-x: hidden;">
        <div class="d-flex flex-column align-items-stretch flex-shrink-0" style="width: 250px;">
            {% for pick in draft_picks %}
            <div class="list-group list-group-flush border-bottom scrollarea" style="max-width: 250px;">
                {% if loop.first %}
                <a href="#" class="list-group-item list-group-item-action active py-3 lh-sm" aria-current="true">
                    {% else %}
                    <a href="#" class="list-group-item list-group-item-action py-3 lh-sm" aria-current="true">
                        {% endif %}
                        <div class="d-flex w-100 align-items-center justify-content-between" style="width: 100%;">
                            <strong class="mb-1" style="max-width: 70%;">{{ pick['metadata']['first_name'] }} {{
                                pick['metadata']['last_name'] }}</strong>
                            <small style="max-width: 30%;">{{ pick['metadata']['position'] }}</small>
                        </div>
                        <div class="col-10 mb-1 small" style="max-width: 100%;">Pick #{{ pick['pick_no'] }}.</div>
                    </a>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>


<script>
    // Function to handle offcanvas show event
    var offcanvasElement = document.getElementById('offcanvasScrolling');
    offcanvasElement.addEventListener('show.bs.offcanvas', function () {
        document.querySelector('.main-content').classList.add('offcanvas-active');
    });

    // Function to handle offcanvas hide event
    offcanvasElement.addEventListener('hide.bs.offcanvas', function () {
        document.querySelector('.main-content').classList.remove('offcanvas-active');
    });
</script>

{% endblock %}
